@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
/* *{
    margin:0 ;
    
} */
 .vision-title{
    margin-bottom: 80px;
 }


/* first nav  bar ar kaj*/
nav{
    display: flex;
    align-items: center;
   justify-content: space-between;
   margin: 24px 80px ;

}
.b20-title{
font-family: "Fira Sans", serif;
font-size: 32px;
font-weight: 700;
font-style: normal;

}
nav ul{
    display:flex;
    align-items: center;
}
nav ul li{
    list-style: none;
}
nav li a{
  
    text-decoration: none;
}
nav .ftn-primary:hover{
    background:#d3259f;
}
.ftn-primary{
    font-family: "Fira Sans", serif;
    font-size: 18px;
    font-weight: 600;
    color: #006A50;
    padding: 15px 30px;
    border-radius: 8px;
    border-color: #006A50;

}
.btn-primary{
    color: #FFFFFF;
   

}
/* nav bar ar kaj ses */


/* banner part ar suru */
.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    background-color: #C6E4D6;
  
    border-radius: 24px;
    margin:9px 80px 0 80px;
    
}
.banner-content{
 width: 622px;
   
padding-left: 50px;
    
   
   
}

.mini-title{
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-size: 24px;
    color: #505f30;


}

.f1btn-primary{
font-family: "Fira Sans", serif;
font-size: 18px;
font-weight: 600;
padding: 17px 34px;
border-radius: 8px;
background-color:#006A50 ;

}
.bold-banner{
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-size: 56px;
    color: #0E0E0E;
   
}
.banner-fphoto{
width: 400.03px;
/* max-height: 400px; */
padding: 80px 100px 80px 0;

}

.banner .f1btn-primary:hover{
    background:#d3259f;
}
/* banner part ses */


/* pilar ar suru */


.pillar-body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 70px; 
    gap: 15px; 
    margin-right: 75px;
}
  

.head-ptitle{
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-size: 40px;
    margin-left: 70px;
    
}
.phead{
    font-family: "Fira Sans", serif;
    font-size: 20px;
    font-weight: 700;
}


.p-vision{
padding:15px 2px 10px 10px;
box-shadow:0px 4px 15px 0px rgba(0, 0, 0, 0.25) ;
    
border-radius: 16px;
}
/* pillar part ses */


/* vision of future ar suru */
 .visionoffuture{

    margin-top: 38px;
    margin-bottom:32px;
 }
 .vhead{
    font-family: "Fira Sans", serif;
    font-size: 40px;
    font-weight: 700;
    margin-left: 70px;
 }
 #visionid{
    margin-left: 70px;

 }
 .vision-sub{
    font-family: "Fira Sans", serif;
   font-weight: 700;
   font-size: 20px;
 }
 .vision-container{
    display: flex;
    align-items: center;
    gap: 15px; 
    margin-right: 75px;
    margin-left: 70px;


 }
.vision-future{
    padding:15px 2px 10px 10px;
box-shadow:0px 4px 15px 10px rgba(0, 0, 0, 0.25) ;
    
border-radius: 16px;

}
 
/* vision of future ar indiviual tag ar suru */
.vp1{
background-color:rgba(84, 144, 245, 0.2);
}
.vp2{
    background-color: #C6E4D6;
}
.vp3{
    background-color:  #F7EBCF;
}
.v6{
 background-color:#5490F5; 
 padding: 8px 11px;
 border-radius: 8px;
 font-family: "Fira Sans", serif;
 font-weight: 600;
 font-size: 16px;
}


.vio1{
    background-color: #09A15C;
    padding: 8px 11px;
    border-radius: 8px;
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-size: 16px;
 }


.vio{
   background-color: #FFC239;
   padding: 8px 11px;
   border-radius: 8px;
   font-family: "Fira Sans", serif;
   font-weight: 600;
   font-size: 16px;

}
.vp3 .vio:hover{
    background:#d3259f;
}
.vp2 .vio1:hover{
    background:#d3259f;
}
.vp1 .v6:hover{
    background:#d3259f;
}
/* indiviual vision ses */

/* younus bhai part suru */



.younus-bhai{

margin-left: 75px;
margin-right: 75px;



}
.younus-specech{
font-family: "Fira Sans", serif;
 font-size: 16px;
 position: relative;
 background-image: url("assets/quote-bg.png");
 gap:0;
 
 background-repeat: no-repeat;
 box-shadow: 0px 4px 6px 0 rgba(0, 0, 0, 0.25);
 border-radius: 16px;
}
.speaks{
    padding: 30px 20px 0 24px;
   
}
.bold-younus{
    font-family: "Fira Sans", serif;
    font-weight: 600;
    padding-left:20px ;
}
.para-younus{
    padding-left:20px ;
    padding-bottom: 10px;
}


/* younus ar ses */

/* Your Opinion ar suru */
.opinion-title{
    font-family: "Fira Sans", serif;
    font-size: 40px;
    font-weight: bold;
    margin-left: 70px;
  }
  .opinion-overall-div{
    font-family: "Fira Sans", serif;
    background-color: white;

    margin-left: 70px;
    margin-right: 70px;
  }
  .opinion-main-box-content{
    font-family: "Fira Sans", serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(179, 35, 35);
   
    
  }
  .opinion-main-box-content-head{
    font-family: "Fira Sans", serif;
    background-color: #C6E4D6;
    padding:21px;
  }
  
  
  
  .opinion-text-select-content{
    font-family: "Fira Sans", serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:1px solid #bababa;
    
  }
  
  .opinion-text{
    font-family: "Fira Sans", serif;
    font-size: 14px;
    line-height: auto;
    color: #0E0E0E;
    padding: 21px;
    
  
  }
  .div-select{
    font-family: "Fira Sans", serif;
    padding:21px;
    border:1px solid #bababa;
  }
  
  .choose{
    font-family: "Fira Sans", serif;
    background-color: #C6E4D6;
    padding: 9px 12px;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    display: block;
  }
  /* Opinion ar ses */



/* recent news suru */
.news-title{
    box-shadow: 0 5px 18px 0px #FFFFFF;
}



.alt-news{
    font-family: "Fira Sans", serif;
    font-size: 40px;
    font-weight: bold;

}
.news-pre-head{
    font-family: "Fira Sans", serif;
    margin-left: 80px;
   
}
.alt-newsb{
    font-family: "Fira Sans", serif;
 font-size: 16px;
 font-weight: 400;
}
.satelite{
    border-radius: 24px;

}

.news-title{
    font-family: "Fira Sans", serif;
    margin-left: 0px;
    margin-right: 80px;
    margin-top: 30px;
   
}
.news-container{
 
    
 font-family: "Fira Sans", serif;
display: flex;
gap: 50px;
margin-left: 70px;
box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); 
border-radius: 16px; 
padding: 35px 40px ;
 }
.time{
    font-family: "Fira Sans", serif;
    font-size: 16px;
    font-weight:500;
    color: #0E0E0E;
}    



.head-news-inside .news-btn{
    font-family: "Fira Sans", serif;
    padding: 8px 10px;
    background-color: #006A50;
    font-size: 18px; 
    font-weight: 600;
    border-radius: 8px;
}
.head-news-inside .news-btn:hover{
    background:#d3259f;  
}
/* recent news ses */

/* donate ar suru */

.vision-heading{
    font-family: "Fira Sans", serif;
    font-size: 40px;
    font-weight: bold;
}
.donate-overall{
    display: flex;
    flex-direction: column;
   align-items: center;
    margin-top:68px;
  }
  .donate-btn{
    margin:27px 21px;
    padding:34px 34px;
    border-radius: 14px;
    background-color: hwb(0 53% 41%);
    border:none;
  }
  .donate-btn:hover{
   background-color: #219e64;
  }
  
  .amount{
    text-align: center;
    width:867px;
    color:#adadad;
    background-color: #f6e2e2;
    padding:17px 34px;
   margin-bottom: 27px;
  }
  
  .donate-last-btn{
    background-color: #006A50;
    color: white;
    border-radius: 7px;
    font-size: 18px;
    line-height: auto;
    padding:15px 29px;
    border:none;
  }
  
  .donate-last-btn:hover{
    font-size: larger;
    background-color:#d3259f;
    color:black;
    padding:20px;
   }
  
  /* Donate ar ses */




  /* news letter ar suru  */
.newsletter-overall-div{
    padding:68px 84px;
    margin:68px 70px 68px 70px;
    background-color: #C6E4D6;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
  }
  .subscribe-field{
    margin: 10px 0px;
    display: flex;
    justify-content: center;
  }
  .dummy-text-cover{
    width: 504px;
  }
  .dummy-text {
    text-align: start;
    background-color: #FFFFFF;
    padding:16px 34px 16px 34px;
    border-radius: 10px 0px 0px 10px;
    color: #888888;
  }
  .newsletter-description{
    text-align: center;
  }
  .subscribe{
    padding:5px 20px;
    background-color: #006A50;
    font-size: 16px;
    color:white;
    border-radius: 0px 10px 10px 0px;
    border: none;
  }
  .subscribe:hover{
    font-size: larger;
    background-color:#d3259f;
    color:black;
  }
  /* news letter ar ses */


/* icon niye suru */
.foooter{
  display: flex;
  flex-direction: column;
  margin-bottom: 27px;
  justify-content: center;
  align-items: center;
}
.footer-text{
  font-size: 27px;
  margin-top: 42px;
}
.footer-icon-div{
  display: flex;
  flex-direction: row;
  gap:20px;
  margin:27px 0px 42px 0px;
}
/* icon ar ses  */



