@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
/* *{
    margin:0 ;
    
} */
 .vision-title{
    margin-bottom: 80px;
 }


/* first nav  bar ar kaj*/
nav{
    display: flex;
    align-items: center;
   justify-content: space-between;
   margin: 24px 80px ;

}
.b20-title{
font-family: "Fira Sans", serif;
font-size: 32px;
font-weight: 700;
font-style: normal;

}
nav ul{
    display:flex;
    align-items: center;
}
nav ul li{
    list-style: none;
}
nav li a{
  
    text-decoration: none;
}
nav .ftn-primary:hover{
    background:#d3259f;
}
.ftn-primary{
    font-family: "Fira Sans", serif;
    font-size: 18px;
    font-weight: 600;
    color: #006A50;
    padding: 15px 30px;
    border-radius: 8px;
    border-color: #006A50;

}
.btn-primary{
    color: #FFFFFF;
   

}
/* nav bar ar kaj ses */


/* banner part ar suru */
.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    background-color: #C6E4D6;
  
    border-radius: 24px;
    margin:9px 80px 0 80px;
    
}
.banner-content{
 width: 622px;
   
padding-left: 50px;
    
   
   
}

.mini-title{
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-size: 24px;
    color: #505f30;


}

.f1btn-primary{
font-family: "Fira Sans", serif;
font-size: 18px;
font-weight: 600;
padding: 17px 34px;
border-radius: 8px;
background-color:#006A50 ;

}
.bold-banner{
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-size: 56px;
    color: #0E0E0E;
   
}
.banner-fphoto{
width: 400.03px;
/* max-height: 400px; */
padding: 80px 100px 80px 0;

}

.banner .f1btn-primary:hover{
    background:#d3259f;
}
/* banner part ses */


/* pilar ar suru */


.pillar-body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 70px; 
    gap: 15px; 
    margin-right: 75px;
}
  

.head-ptitle{
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-size: 40px;
    margin-left: 70px;
    
}
.phead{
    font-family: "Fira Sans", serif;
    font-size: 20px;
    font-weight: 700;
}

.vision-description{
  
}

.p-vision{
padding:15px 2px 10px 10px;
box-shadow:0px 4px 15px 0px rgba(0, 0, 0, 0.25) ;
    
border-radius: 16px;
}
/* pillar part ses */


/* vision of future ar suru */
 .visionoffuture{

    margin-top: 38px;
    margin-bottom:32px;
 }
 .vhead{
    font-family: "Fira Sans", serif;
    font-size: 40px;
    font-weight: 700;
    margin-left: 70px;
 }
 #visionid{
    margin-left: 70px;

 }
 .vision-sub{
    font-family: "Fira Sans", serif;
   font-weight: 700;
   font-size: 20px;
 }
 .vision-container{
    display: flex;
    align-items: center;
    gap: 15px; 
    margin-right: 75px;
    margin-left: 70px;


 }
.vision-future{
    padding:15px 2px 10px 10px;
box-shadow:0px 4px 15px 10px rgba(0, 0, 0, 0.25) ;
    
border-radius: 16px;

}
 
/* vision of future ar indiviual tag ar suru */
.vp1{
background-color:rgba(84, 144, 245, 0.2);
}
.vp2{
    background-color: #C6E4D6;
}
.vp3{
    background-color:  #F7EBCF;
}
.v6{
 background-color:#5490F5; 
 padding: 8px 11px;
 border-radius: 8px;
 font-family: "Fira Sans", serif;
 font-weight: 600;
 font-size: 16px;
}


.vio1{
    background-color: #09A15C;
    padding: 8px 11px;
    border-radius: 8px;
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-size: 16px;
 }


.vio{
   background-color: #FFC239;
   padding: 8px 11px;
   border-radius: 8px;
   font-family: "Fira Sans", serif;
   font-weight: 600;
   font-size: 16px;

}
.vp3 .vio:hover{
    background:#d3259f;
}
.vp2 .vio1:hover{
    background:#d3259f;
}
.vp1 .v6:hover{
    background:#d3259f;
}
/* indiviual vision ses */

/* younus bhai part suru */



.younus-bhai{

margin-left: 75px;
margin-right: 75px;



}
.younus-specech{
font-family: "Fira Sans", serif;
 font-size: 16px;
 position: relative;
 background-image: url("assets/quote-bg.png");
 gap:0;
 
 background-repeat: no-repeat;
 box-shadow: 0px 4px 6px 0 rgba(0, 0, 0, 0.25);
 border-radius: 16px;
}
.speaks{
    padding: 30px 20px 0 24px;
   
}
.bold-younus{
    font-family: "Fira Sans", serif;
    font-weight: 600;
    padding-left:20px ;
}
.para-younus{
    padding-left:20px ;
    padding-bottom: 10px;
}


/* younus ar ses */

/* recent news suru */
.news-title{
    box-shadow: 0 5px 15px 0px #FFFFFF;
}



.alt-news{
    font-family: "Fira Sans", serif;
    font-size: 40px;
    font-weight: bold;

}
.news-pre-head{
    font-family: "Fira Sans", serif;
    margin-left: 80px;
   
}
.alt-newsb{
    font-family: "Fira Sans", serif;
 font-size: 16px;
 font-weight: 400;
}
.satelite{
    border-radius: 24px;

}

.news-title{
    font-family: "Fira Sans", serif;
    margin-left: 0px;
    margin-right: 80px;
    margin-top: 30px;
   
}
.news-container{
 
    
 font-family: "Fira Sans", serif;
display: flex;
gap: 50px;
margin-left: 70px;
box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); 
border-radius: 16px; 
padding: 35px 40px ;
 }
.time{
    font-family: "Fira Sans", serif;
    font-size: 16px;
    font-weight:500;
    color: #0E0E0E;
}    



.head-news-inside .news-btn{
    font-family: "Fira Sans", serif;
    padding: 8px 10px;
    background-color: #006A50;
    font-size: 18px; 
    font-weight: 600;
    border-radius: 8px;
}
.head-news-inside .news-btn:hover{
    background:#d3259f;  
}
/* recent news ses */

/* newsletter ar suru */

.newsletter{
 margin-left: 70px;
 margin-right: 80px;
 border-radius: 24px;
 height: 200px;
text-align: center;
padding-top: 100px;
  
 background-color: #C6E4D6;
}
.subscribe-title{
    display: flex;
    justify-content: center;
}
.news-paragraph{
    display: flex;
    justify-content: center;
}
.news-push{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background:#FFFFFF;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 15px #8e7e7e ;

}
.last .finish{
    display: flex;
    justify-content: center;
    text-align: center;
}